name: goreleaser

on:
  push:
    tags:
      - v*

env:
  dockerpushrm_version: "1.7.0"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Login DockerHub
        id: dockerLogin
        uses: docker/login-action@v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_BOT_USERNAME }}
          password: ${{ secrets.DOCKERHUB_BOT_TOKEN }}

      - name: Set up Go
        id: installGo
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: Create Release
        id: createRelease
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}